/******************************
    Common CSS
*******************************/

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Barlow:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
    --primary-color: #050f12;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow", sans-serif;
    background: var(--primary-color);
}

h2 {
    font-weight: 700;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

.text-c-secondary {
    color: #f5841f;
}

.section-header {
    text-align: center;
    color: #fff;
}
/******************************
    Header CSS
*******************************/
.navbar {
    background-color: var(--primary-color) !important;
    padding: 15px;
}

.nav-item a {
    color: #fff;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
}

.nav-item a:hover {
    color: #f5841f !important;
}

.active {
    color: #f5841f !important;
}

.contact-button {
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 5px 10px;
}

/******************************
    Hero Area CSS
*******************************/

#hero-area {
    background: url(../images/hero.png) rgba(0, 0, 0, 0.8);
    text-align: center;
    height: 100vh;
    background-size: cover;
    background-blend-mode: multiply;
}
.hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.hero h3 {
    font-weight: 500;
    letter-spacing: 17px;
    text-transform: uppercase;
}

.hero h1 {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

/******************************
    About Area CSS
*******************************/

.about {
    padding: 200px 0;
    color: #fff;
}

/******************************
    Our Rover Area CSS
*******************************/

#our-rover-area {
    padding: 100px 0;
}
.rover-info {
    color: #fff;
}

.rover-image img {
    max-width: 80%;
}

.partner-image {
    border-color: #c3c9d5 !important;
}

.address-header {
    font-weight: 100;
    font-size: 14px;
}

.address-header span {
    vertical-align: middle;
}

.address-field address {
    font-size: 14px;
}

.form-submit {
    background-color: #f5841f;
    width: 100%;
}

/******************************
    Footer Area CSS
*******************************/
.footer {
    border-top: 1px solid #333;
    color: #818a9c;
}
/******************************
        Achievements
*******************************/
#achievements {
    padding-bottom: 200px;
}
#achievements .carousel {
    padding-top: 132px;
}
.achievements__card {
    background-color: transparent;
    max-width: 350px;
    display: grid;
}
.navigation-wrapper {
    position: relative;
}
#achievement-carousel {
    margin: 0 auto;
    max-width: 970px;
}
.dots {
    display: flex;
    padding: 10px 0;
    padding-top: 60px;
    justify-content: center;
}

.dot {
    border: none;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
}

.dot:focus {
    outline: none;
}

.dot--active {
    background: #f5841f;
}

.arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: #fff;
    cursor: pointer;
}

.arrow--left {
    left: 5px;
    fill: "#fff";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='40' height='40' rx='6' fill='%23F5841F'/%3e%3cpath d='M16.8131 19.2362H26.1111V20.764H16.8131L20.9106 24.8615L19.8304 25.9416L13.8889 20.0001L19.8304 14.0586L20.9106 15.1387L16.8131 19.2362Z' fill='white'/%3e%3c/svg%3e ");
}

.arrow--right {
    left: auto;
    right: 5px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='40' height='40' rx='6' fill='%23F5841F'/%3e%3cpath d='M23.187 19.2362L19.0895 15.1387L20.1696 14.0586L26.1111 20.0001L20.1696 25.9416L19.0895 24.8615L23.187 20.764H13.8889V19.2362H23.187Z' fill='white'/%3e%3c/svg%3e ");
}

.arrow--disabled.arrow--left {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='40' height='40' rx='6' fill='white'/%3e%3cpath d='M16.8131 19.2362H26.1111V20.764H16.8131L20.9106 24.8615L19.8304 25.9416L13.8889 20.0001L19.8304 14.0586L20.9106 15.1387L16.8131 19.2362Z' fill='%2307090D'/%3e%3c/svg%3e ");
}

.arrow--disabled.arrow--right {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='40' height='40' rx='6' fill='white'/%3e%3cpath d='M23.187 19.2362L19.0895 15.1387L20.1696 14.0586L26.1111 20.0001L20.1696 25.9416L19.0895 24.8615L23.187 20.764H13.8889V19.2362H23.187Z' fill='%2307090D'/%3e%3c/svg%3e ");
}

/******************************
        Gallary
*******************************/

#gallary {
    padding-bottom: 132px;
}
.gallary__heading {
    padding-bottom: 132px;
}
.gallary__grid {
    max-height: 100%;
    display: grid;
    max-width: 100%;
    gap: 16px 16px;
}
.grid__1 {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "r1c2 r1c2"
        "r1c1 r1c1_2";
}
.grid__1 .r1c2 {
    grid-area: r1c2;
}
.grid__1 .r1c1 {
    grid-area: r1c1;
}
.grid__1 .r1c1_2 {
    grid-area: r1c1_2;
}

/******************************
        Featured
******************************/
#featured {
    padding-bottom: 320px;
}
.sub-heading {
    max-width: 290px;
}
.max-w-350 {
    max-width: 350px;
}
#featured-carousel .keen-slider__slide {
    min-width: 270px;
}
